[submodule "thales-risc-v-chisel-project"]
	path = thales-risc-v-chisel-project
	url = 172.17.72.73:/home/eyssartk/Drive/TMR_OSS/thales-risc-v-chisel-project/
[submodule "thales-risc-v-registers-router"]
	path = thales-risc-v-registers-router
	url = 172.17.72.73:/home/eyssartk/Drive/TMR_OSS/thales-risc-v-registers-router/
[submodule "thales-risc-v-jtag-router"]
	path = thales-risc-v-jtag-router
	url = 172.17.72.73:/home/eyssartk/Drive/TMR_OSS/thales-risc-v-jtag-router/
[submodule "thales-risc-v-fault-detector"]
	path = thales-risc-v-fault-detector
	url = 172.17.72.73:/home/eyssartk/Drive/TMR_OSS/thales-risc-v-fault-detector/
