[submodule "thales-risc-v-chisel-project"]
	path = thales-risc-v-chisel-project
	url = https://github.com/Thales-RISC-V/thales-risc-v-registers-router
[submodule "thales-risc-v-registers-router"]
	path = thales-risc-v-registers-router
	url = https://github.com/Thales-RISC-V/thales-risc-v-registers-router/
[submodule "thales-risc-v-jtag-router"]
	path = thales-risc-v-jtag-router
	url = https://github.com/Thales-RISC-V/thales-risc-v-jtag-router/
[submodule "thales-risc-v-fault-detector"]
	path = thales-risc-v-fault-detector
	url = https://github.com/Thales-RISC-V/thales-risc-v-fault-detector/
[submodule "ultrascale-u-boot"]
	path = ultrascale-u-boot
	url = https://github.com/Thales-RISC-V/ultrascale-u-boot
[submodule "ultrascale-linux"]
	path = ultrascale-linux
	url = https://github.com/Thales-RISC-V/ultrascale-linux
